@page "/AddIncome/{Userid:int}/{username}/{password}"
@inherits AddIncomeTransactionBase

<div class="row">
    <div class="add-pay-box">
        <h2 class="text-white mb-2">
            Add New Payment Transaction
        </h2>

        <label class="transaction-lbl">
            Enter Transaction Time :
        </label>

        <input class="income-input" type="datetime" @bind="@TransactionTime" />

        <br />

        <label class="transaction-lbl">
            Enter Transaction Amount :
        </label>

        <input class="income-input" type="number" @bind="@Amount" />

        <br />

        <label class="transaction-lbl">
            Enter Transaction Description :
        </label>

        <input class="income-input" type="text" @bind="@Descriptions" />

        <br />

        <label class="transaction-lbl">
            Enter Count Of Transaction :
        </label>

        <input class="income-input" type="number" step="1" @bind="@Count" /> @* strp can help for the user don't enter float number *@

        <br />
        <br />

        <a class="btn btn-submit" @onclick="() => AddIncome_Click()">
            Click For Add New Payment Transaction !
        </a>

        @if (ErrorMessage != null)
        {
            <DisplayEror ErorMessage="@ErrorMessage"></DisplayEror>
        }
    </div>
</div>