@inherits DisplayIncomeTransactionBase


<div class="row">
    <div class="main-page">
        <table>
            <thead>
                <tr>
                    <th> Transaction Time </th>
                    <th> Amount </th>
                    <th> Descriptions </th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in IncomeTransactions)
                {
                    var deletelink = $"/DeleteTransaction/{Username}/{Password}/{item.Id}";
                    var updatelink = $"/UpdateTransaction/{Username}/{Password}/{item.Id}";

                    <tr>
                        <td> @item.TransactionTime.ToString("dd - MM - yyyy  hh:mm tt") </td>
                        <td> @item.Amount.ToString("C")</td>
                        <td> @item.Descriptions  </td>
                        <td class="update-transaction">
                            <a href="@updatelink" class="oi oi-pencil ">
                            </a>
                        </td>

                        <td class="delete-transaction">
                            <a href="@deletelink" class="oi oi-trash ">
                            </a>
                        </td>
                    </tr>
                }

                <tr>
                    <td class="total"><b>Total</b></td>
                    <td class="total-amount"><b> @IncomeTransactions.Sum(pt => pt.Amount).ToString("C") </b></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>